 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #EDEDED;
}
.title{
    /* padding: 3rem 0rem; */
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(1rem + 3vw);
    color: #333333;
    font-style: italic;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.content{
    display: flex;
    height: auto;
    width: 100%;
    min-height: 82vh;
    flex-wrap: wrap;
}
.settings{
    flex: 1;
    /* background-color: #838181; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 1rem;
}
.colorPicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6rem;
    height: 6rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
    background: none;
}

.colorPicker::-webkit-color-swatch {
	border-radius: 50%;
    border: none;
    outline: none;
    width: 6rem;
    height: 5.7rem;
    background: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
    transition: transform 0.3s ease-in-out;
}

.colorPicker::-webkit-color-swatch:hover {
    transform: scale(1.1);    
}
.btn,.clear{
    margin: 1rem 0rem;
    padding: 0.5rem 2rem;
    width: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: #333;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out,transform 0.2s ease-in-out;
}
.btn:hover,.clear:hover{
    /* background-color: #333;
    color: white; */
    transform: scale(1.1);
}
#value{
    margin-top: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #333;
    border-radius: 0.5rem;
    width: 200px;
    cursor: pointer;
    height: 0.7rem;
}
#value::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0px;
  }
.sizeValue{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
}
.table{
    flex: 2;
    /* background-color: #4e4a4a; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    /* background-color: aliceblue; */
    width: 550px;
    max-width: 90%;
    border: 1px solid #333;
    height: 550px;
    max-height: 90%;
    background-color: white;
    display: grid;
    /* grid-template-columns: repeat(auto,1fr); */
    /* grid-template-columns: auto; */
    gap: 1px;
    /* grid-template-columns: repeat(auto,1fr); */
}

.childe{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    border: 0.5px solid #333;

}
.btn.active{
    background-color: #333;
    color: white;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0.7rem;
}
.copy{
    font-size: 1rem;
    font-weight: 500;
    margin-right: 0.5rem;
}
.icon{
    position: relative;
    top: 2px;
    transform: rotateZ(0deg) scale(0.9);
    transition: transform 0.3s ease-in-out;
}
.icon:hover{
    transform: rotateZ(360deg) scale(1.2);
}

@media screen and (max-width :555px){
    .game {
    width: 450px;
    height: 450px;
    }
}
@media screen and (max-width :452px){
    .game {
    width: 350px;
    height: 350px;
    }
}

@media screen and (max-width :356px){
    .game {
    width: 300px;
    height: 300px;
    }
}
@media screen and (max-width :307px){
    .game {
    width: 270px;
    height: 270px;
    }
}


